@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* header part start  */

.header-container {
    height: 80vh;
    background-color: #fceef6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 650px;
    padding: 30px 0px;
}

.header-right img {
    width: 600px;
}


.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 3px 5px 8px gray;
}

.red {
    color: #E55473;
    text-shadow: 1px 1px 2px gray;
}



/* header part end  */